<div class="container">
  <span class="header">{{trackers.length}} Registered Tracker<span ng-hide="trackers.length === 1">s</span></span>
  <input class="filter pull-right" ng-model="search" type="search" placeholder="Filter"/>
  <span class="glyphicon glyphicon-search pull-right search"></span>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group tracker-list">
        <li class="list-group-item col-sm-6 col-xl-4" ng-repeat="tracker in trackers | filter:filterBySearch" ng-class="{editable: tracker.editable}">
            <strong>{{tracker.macid}}: </strong><strong ng-hide="tracker.editable">{{tracker.first}} {{tracker.last}}</strong>
            <input type="text" ng-model="tracker.first" ng-show="tracker.editable"/>
            <input type="text" ng-model="tracker.last" ng-show="tracker.editable"/>
            <br>
            DOB: <span ng-hide="tracker.editable">{{tracker.DOB}}</span><input type="text" class="DOB" ng-model="tracker.DOB" ng-show="tracker.editable"/>
            | Info: <span ng-hide="tracker.editable">{{tracker.info}}</span><input type="text" ng-model="tracker.info" ng-show="tracker.editable"/>
            <br>
            Location: [<span ng-show="tracker.location.length">{{tracker.location[tracker.location.length-1].latitude}},{{tracker.location[tracker.location.length-1].longitude}}</span>]
            | Temperature: <span ng-show="tracker.temperature.length">{{tracker.temperature[tracker.temperature.length-1].temperature}}</span>
            <a class="trash" ng-click="deleteTracker(tracker)"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            <a class="edit" ng-click="tracker.editable = !tracker.editable; updateTracker(tracker)"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>