html,
body {
    height: 100%;
    padding: 0;
    margin: 0px;
}

.page {
    padding-top: 60px;
}

.footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    max-height: 50px;
    background: white;
    background-color: #f8f8f8;

    p {
        line-height: 50px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
}

.tracker-list {

    li.editable {
        border-color: black;

        input {
            margin: 2px;
        }
    }

    .edit {
        span {
            margin-right: 1em;
        }
    }
}