<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h2>Registered Trackers</h2>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group tracker-list">
        <li class="list-group-item" ng-repeat="tracker in trackers">
            <strong>{{tracker.first}} {{tracker.last}}</strong><br>
            <span class="text-muted">Location: {{tracker.location}}</span>
            <a class="trash" ng-click="deleteTracker(tracker)"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            <a class="edit"><span class="glyphicon glyphicon-pencil pull-right"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->
</div>

<footer class="footer">
  <div class="container">
      <p>HealthTrack V0.1</p>
  </div>
</footer>
