html,
body {
    height: 100%;
    padding: 0;
    margin: 0px;
}

.page {
    padding-top: 60px;
    padding-bottom: 60px;

    .header {
        font-size: 24px;
        font-weight: bold;
        margin: 1em 0 1em 0;
        line-height: 2em;
    }

    .filter {
        line-height: 2em;
        margin-top: 6px;
        margin-bottom: 16px;
        padding-left: 1em;
    }

    .search {
        line-height: 2em;
        margin-right: 0.5em;
        font-size: 24px;
        opacity: 0.7;
    }
}

.footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    max-height: 50px;
    background: white;
    background-color: #f8f8f8;

    p {
        line-height: 50px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
}

.tracker-list {

    li {
        line-height: 2em;
        border: 1 px solid gray;

        &.editable {
            background-color: #f8f8f8;
        }

        input {
            line-height: 1em;
            margin: 2px;
            background-color: white;
            border-width: 0 0 1px 0;
            border-color: solid #444;
            box-shadow: none;

            &:focus {
                border-width: 0 0 1px 0;

            }

            &.DOB {
                max-width: 6em;
            }
        }
    }

    .edit {
        span {
            margin-right: 1em;
        }
    }
}