.page-wrapper {
    height: 100%;
}

.footer {
    width: 100%;
    z-index: 1030;
    margin: 0px;
    clear: both;
    position: absolute;
    bottom: 2px;
    left: 0px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    max-height: 50px;
    background: white;

    p {
        line-height: 50px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
}

.tracker-list {

    li.editable {
        border-color: black;
    }

    .edit {
        span {
            margin-right: 1em;
        }
    }
}